html {
scroll-behavior: smooth;
}

nav img {
    width: 35px;
}

nav p {
    float: right;
    margin-top: 5px;
}
#jumbotron {
    padding-top: 5rem;
    background-color: #232426;
    background-image: url(../img/Hero.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#jumbotron img {
    width: 200px;
}

#about p {
    text-align: justify;
}

#projects {
    background-color: #232426;
}

#projects img {
    width: 480px;
    height: 270px;
}

#contact {
    background-color: #232426;
}

#footer p  {
    color: #666;
}

#footer a {
    text-decoration: none;
    color: #666;
}

section {
    padding-top: 5rem;
}

